<body>
  <p class="navigation">ABOUT</p>

  <section>
    <ul class="list-unstyled">
      <li class="card card-body mb-4">
        <div class="row">
          <div class="col-sm-6">
            <P> <br> Hi I am dharmesh. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo obcaecati pariatur, rem
              beatae, alias consequatur, nesciunt cumque labore ut optio ipsum quo consequuntur dolorum suscipit eos
              tenetur quos dolorem doloribus vel veritatis eveniet. Illo nam vero fugit aliquid deleniti ipsa molestias
              excepturi, ad in maxime sunt tempore, pariatur corporis aperiam quasi consectetur veritatis numquam
              obcaecati. Animi, nam eos placeat ducimus, eaque vero dignissimos laudantium officiis sed architecto
              ipsam
              nesciunt praesentium sunt, odio porro voluptatum! Iste temporibus voluptatum eum nihil deleniti delectus
              in. Accusamus assumenda odio suscipit consequuntur recusandae quos alias. Incidunt molestiae, deserunt
              similique nam a rerum facilis at itaque veniam quidem inventore modi architecto hic sequi aspernatur
              obcaecati quisquam soluta quas. Hic similique quas ipsam autem ut distinctio? Consectetur, est minus!
              Atque
              sed consequuntur ducimus similique odio tempore, officia repellat, laboriosam non ullam unde, fugit hic
              iure! Magni quisquam iusto, id fugiat commodi animi? Corporis, deserunt? Unde, exercitationem numquam?
            </P>
          </div>
          <div class="col-sm-6">
            <img class="first" src="../../../assets/img/people.png" height=500px; width=670px;>
          </div>
        </div>
      </li>
    </ul>
  </section>

  <app-footer></app-footer>
</body>
