<body>
  <p class="navigation">HOME</p>

  <section>
    <ul class="list-unstyled">
      <li class="card card-body mb-4">
        <div class="row">
          <div class="col-sm-6">
            <img class="first" src="../../../assets/img/people4.png" height=450px; width=675px;>
          </div>
          <div class="col-sm-6">
            <img class="second" src="../../../assets/img/building1.png" height=450px; width=675px;>
          </div>
        </div>
      </li>
    </ul>
  </section>


  <div class="container">
    <section class="section section-dark">
      <h1>
        Hello! Namaste! Bonjoure!
      </h1>
      <p> Welcome to my Page. My name is Darmesh Prajapati. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Nemoiure, rem recusandae reiciendis et fugit quam incidunt a minima cupiditate velit quisquam expedita excepturi
        maiores delectus? Quos adipisci vero, corrupti voluptatum ipsum obcaecati veniam ex saepe autem provident culpa
        suscipit consequatur unde repudiandae nesciunt ipsam mollitia! Ab ipsum blanditiis culpa voluptates temporibus?
        Numquam rerum distinctio in nobis adipisci consequatur recusandae minus a maiores ab debitis officiis, natus
        architecto.</p>
    </section>
  </div>


  <app-footer></app-footer>
</body>
