<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l4 s4">
        <h5 class="white-text">D.P - Photography</h5>
        <p class="grey-tex text-lighten-4">Thank you for visiting the page.</p>
      </div>
      <div class="col l4 offset-l4 s2">
        <ul class="list-unstyled">
          <li><a class="link" routerLink="/">Home</a></li>
          <li><a class="link" routerLink="/about">About</a></li>
          <li><a class="link" routerLink="/gallery">Gallery</a></li>
          <li><a class="link" routerLink="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 Copyright by: Romit Patel
    </div>
  </div>
</footer>
